SystemName=JobRunner
PORT=80
ContainerName=aisuite
OriginAllowList=https://<your IP>;http://<your another IP>
AllowMethods=POST;GET;PUT;DELETE
ResponseType=code

DocumentRoot=www/html
TemplateRoot=www/template/
UploadFolder=tmp/
JobsFile=joblists

mailHost=smtp.sinica.edu.tw
smtpPort=25
smtpEmail=its@sinica.edu.tw
smtpPassword=

NGROK_AUTHTOKEN=
RAGUrl=

TranslateEndpoint=https://<backend安裝的IP位置>/api/v1/rest/
TranslateUrl=https://<backend安裝的IP位置>/api/v1/rest/CreateTranscribeTask
TranslateQueryUrl=https://<backend安裝的IP位置>/api/v1/rest/ViewAllTask
DownloadServer=https://<backend安裝的IP位置>/api/v1/rest/RetrieveTranscribe/

Scope=basic
TokenUrl=https://fisa.test.sinica.edu.tw/index.php/sso2/access_token
UserUrl=https://fisa.test.sinica.edu.tw/index.php/sso2/basic
JwtKey=justgps@gmail.com

MaxUploadSize=290
